/* Fan-made Minecraft UI typeface by Idrees Hassan, SIL OFL 1.1.
   Locally served WOFF2; see public/assets/fonts/Minecraft-LICENSE.txt. */
@font-face {
  font-family: "Minecraft UI";
  src: url("/assets/fonts/Minecraft-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Minecraft UI";
  src: url("/assets/fonts/Minecraft-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
